{
    "forex_trader_file_path": "C:\\server\\forex_trader",
    "trader_name": "Forex trader",
    "currency_name": "Bitcoin",
    "chanse_of_increasing": 50,
    "min_threshold": 1,
    "max_threshold": 10,
    "next_open_file": "\n<OpenFile> z_BlackMarket.txt"
}
